/* BODY */

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
}

/* NAVEGACIÓN */



/* CARRUSEL */



/* ¿QUIÉNES SOMOS? (debe desaparecer en versión móvil */



/* DESTACADOS */



/* CONTACTO */



/* FOOTER */

.footerVC {
    background-color: #0DCAF0;
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}

.footerVC i {
    padding: 10px;
}