/* BODY */

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

/* NAVEGACIÓN */



/* CARRUSEL */



/* ¿QUIÉNES SOMOS? (debe desaparecer en versión móvil */

.qsomos {
    box-sizing: border-box;
    padding: 40px;
}

.qsomos h2 {
    padding-bottom: 20px;
}

/* DESTACADOS */

.destacados {
    box-sizing: border-box;
    padding: 40px;
}

.destacados h2 {
    padding-bottom: 20px;
}

/* CONTACTO */



/* FOOTER */

.footerVC {
    background-color: #0DCAF0;
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}

.footerVC i {
    padding: 10px;
}