/* BODY */

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
}

/* NAVEGACIÓN */



/* CARRUSEL */



/* ¿QUIÉNES SOMOS? (debe desaparecer en versión móvil */



/* DESTACADOS */



/* CONTACTO */



/* FOOTER */